body{
    background-color: rgb(252, 238, 221);
}

.nav{
    background-color: pink;
    padding: 10px;
}

.nav-li ul li{
    list-style: none;
    display: inline;
    padding-left: 12px;
    position: relative;
    top: -60px;
    left: 400px;
    font-size: 50px;
}

.nav-li ul li a:hover{
    color: rgb(249, 123, 144) (9, 172, 60);
    text-decoration: underline;
}

navbar{
    display: inline-block;
}

navbar{
    margin-top: 25px;
}