.container {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 50px;
}

.box1, .box2, .box3 {
    position: absolute;
    width: 200px;
    height: 200px;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.box1 {
    background-color: bisque
    ;
    top: 0;
    left: 0;
    z-index: 1;
}

.box2 {
    background-color: pink;
    top: 50px;
    left: 50px;
    z-index: 2;
}

.box3 {
    background-color: yellow;
    top: 100px;
    left: 100px;
    z-index: -1;
}