.dance {
    font-size: 150px;
    animation: dance 2s infinite;
    display: inline-block;
}

@keyframes dance {
   0%, 100% {
        transform: rotate(-10deg) scale(1);
    }
    25% {
        transform: rotate(10deg) scale(1.2);
    }
    50% {
        transform: rotate(-15deg) scale(1.1);
    }
    75% {
        transform: rotate(15deg) scale(1.3);
    }
}